﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Book Shop</title>

    <!-- Bootstrap -->


    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    
    <!--<link href="bower_components/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" />-->
    <link href="bower_components/owlcarousel/dist/assets/owl.carousel.min.css" rel="stylesheet" />

    <!--<link href="css/animate.min.css" rel="stylesheet" />-->
    <link href="stylesass.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body ng-app="myApp">


    <header class="header">

        <!-- ============================================== NAVBAR ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container-fluid">
                <div class="nav-bg-class">
                    <!-- ============================================================= NAVBAR PRIMARY ============================================================= -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button id="btn-navbar-primary-collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="text-center logo-holder" style="margin-left:10px">
                        <a href="#/">
                            <h1 class="logo">BookShop</h1>
<!--
                            <div class="logo-subtitle">
                                <span>Trang web bán sách online</span>
                            </div>
-->
                        </a>
                    </div>
                        </div>
                        <!-- /.navbar-header -->
                        <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown yamm-fw" ng-controller="CategoryController">
                                    
                                    <a href="category.html" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><i class="fa fa-bars" style="color:#2F9599"></i> Danh Mục</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-6" ng-repeat="category in categories">
                                                        <div class="section">
                                                            <h5 class="title"></h5>
                                                            <ul class="links list-unstyled">
                                                                <li><a href="#/category/{{category.IdCategory}}">{{category.NameCategory}}</a></li>
                                                            </ul>
                                                        </div><!-- /.section -->
                                                    </div><!-- /.col -->
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown yamm-fw hidden-md hidden-sm" ng-controller="PublishingCompanyController">
                                    <a href="category.html" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><i class="fa fa-bars" style="color:#2F9599"></i> Nhà Phát Hành</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-6" ng-repeat="company in companies">
                                                        <div class="section">
                                                            <h5 class="title"></h5>
                                                            <ul class="links list-unstyled">
                                                                <li><a href="#/publishingcompany/{{company.IdPubCom}}">{{company.NamePubCom}}</a></li>
                                                            </ul>
                                                        </div><!-- /.section -->
                                                    </div><!-- /.col -->
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown yamm-fw hidden-sm" ng-controller="AuthorController">
                                    <a href="category.html" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><i class="fa fa-bars" style="color:#2F9599"></i> Tác Giả</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-6" ng-repeat="author in authors" style="height:60px;">
                                                        <div class="section">
                                                            <h5 class="title"></h5>
                                                            <ul class="links list-unstyled">
                                                                <li><a href="#/author/{{author.IdAuthor}}">{{author.NameAuthor}}</a></li>
                                                            </ul>
                                                        </div><!-- /.section -->
                                                    </div><!-- /.col -->
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </li>
<!--                                <li class="hidden-sm"><a href="category.html">Sách Giảm Giá</a></li>-->
                                <li class="dropdown yamm-fw">
                                    <a href="#/category/1" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><img src="Resources/flames.png"> Sách Bán Chạy</a>
                                    
                                </li>
                                <li class="hidden-sm hidden-md"><a href="#/publishingcompany/12">Sách Mới 
                                    <span class="badge-warning" style="background: #ed1c24;color: #fff;font-size: 12px;padding: 2px 5px 0px 5px;border-radius: 3px;text-transform: uppercase;">Mới</span></a></li>
                            </ul><!-- /.nav -->
                            <ul class="nav navbar-nav navbar-right" style="margin-top:15px; margin-left:30px">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Đăng nhập</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Đăng ký</button>
                        <!--<li><a runat="server" href="login.html">Log in</a></li>-->
                </ul>
                        </div><!-- /.collapse navbar-collapse -->
                    </nav><!-- /.yamm -->
                    <!-- ================================================== NAVBAR PRIMARY : END ======================================================= -->

                    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h1 class="text-center">Book Shop</h1>
                                </div>
                                <div class="modal-body">
                                    <form class="form col-md-12 center-block">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control input-lg" placeholder="Mật khẩu">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-lg btn-block">Đăng nhập</button>

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-12">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h1 class="text-center">Book Shop</h1>
                                </div>
                                <div class="modal-body">
                                    <form class="form col-md-12 center-block">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control input-lg" placeholder="Mật khẩu">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control input-lg" placeholder="Xác nhận mật khẩu">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-lg btn-block">Đăng ký</button>

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-12">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div><!-- /.nav-bg-class -->
            </div><!-- /.container -->
        </div><!-- /.header-nav -->
        <!-- ============================================== NAVBAR : END ============================================== -->
        <!-- ============================================== MAIN-HEADER ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 text-center">
                        <a href="#/">
                            <img width="150" height="71" style="margin-top:-10px" src="Resources/logo.png"/>
                        </a>
                    </div>
                    <!-- ============================================== LOGO ============================================== -->
<!--
                    <div class="col-xs-12 col-sm-4 col-md-3 text-center logo-holder">
                        <a href="#/">
                            <h1 class="logo">BookShop</h1>
                            <div class="logo-subtitle">
                                <span>Trang web bán sách online</span>
                            </div>
                        </a>
                    </div>
-->
                    <!-- ============================================== LOGO : END ============================================== -->
                    <!-- ============================================== SEARCH BAR ============================================== -->
                    <div class="col-xs-12 col-sm-4 col-md-7 top-search-holder m-t-10" ng-controller="HomeController">
                        <form class="search-form" role="search">
                            <div class="form-group">
                                <label class="sr-only" for="page-search"><i>Search</i></label>
                                <!--<input id="page-search" class="search-input form-control" type="search" ng-model="search" placeholder="Tìm kiếm">-->
                                <input type="text" ng-model="customSelected" placeholder="Tìm kiếm" 
                                       uib-typeahead="state as state.NameBook for state in products | filter:{NameBook:$viewValue} | limitTo:5" typeahead-on-select="onSelect($item, $model, $label)"
                                       typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true">
                            </div>
                            <!--<button class="page-search-button">
                                <span class="fa fa-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>-->
                        </form>
                    </div><!-- /.top-search-holder -->
                    <!-- ============================================== SEARCH BAR : END ============================================== -->
                    <!-- ============================================== SHOPPING CART DROPDOWN ============================================== -->
                    <div class="col-xs-12 col-sm-4 col-md-2 animate-dropdown1 top-cart-row m-t-10">
                        <ul class="clearfix shopping-cart-block list-unstyled">
                            <li class="dropdown">
                                <a class="menu-toggle-right clearfix" href="#/cart">
                                    <span class="pull-right cart-right-block">
                                        <img src="Resources/cart-icon.png" alt="" width="46" height="39" />
                                    </span><!-- /.cart-right-block -->
                                    <span class="pull-right cart-left-block">
                                        <ngcart-summary></ngcart-summary>
                                        <!--<span class="cart-block-heading"><ngcart-summary></ngcart-summary></span>
                                        <span class="hidden-xs">{{ngCart.getTotalItems()}} sản phẩm</span>-->
                                        <!--<span class="cart-block-heading">50,000đ</span>
                                        <span class="hidden-xs">2 sản phẩm</span>-->
                                    </span><!-- /.cart-left-block -->
                                </a>
                            </li>
                        </ul> <!-- /.list-unstyled -->
                    </div><!-- /.top-cart-row -->
                    <!-- ============================================== SHOPPING CART DROPDOWN : END ============================================== -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-header -->
        <!-- ============================================== END MAIN HEADER ============================================== -->

    </header>
    <!-- ============================================== HEADER : END ============================================== -->

    <div ng-view>

    </div>
    
    <footer class="footer clearfix">
        <hr style="border-top-style: groove; margin-top:auto;">
        <div class="margin-top-10">
            <div class="container inner-top-vs">
                <!-- ============================================== FOOTER-TOP ============================================== -->
                <div class="row hidden-xs hidden-sm js-footer-block-2">
                    <div class="col-md-12">
                        <div class="footer-link">
                            <h4>Danh mục và tác giả được yêu thích</h4>
                            <ul>
                                <li>
                                    <a href="#/category/1"><i class="fa fa-caret-right"></i> Công nghệ thông tin</a>
                                </li>
                                <li>
                                    <a href="#/category/2"><i class="fa fa-caret-right"></i> Ngoại ngữ</a>
                                </li>
                                <li>
                                    <a href="#/category/3"><i class="fa fa-caret-right"></i> Phật giáo</a>
                                </li>
                                <li>
                                    <a href="#/category/4"><i class="fa fa-caret-right"></i> Sách học làm người</a>
                                </li>
                                <li>
                                    <a href="#/category/5"><i class="fa fa-caret-right"></i> Văn học nước ngoài</a>
                                </li>
                                <li>
                                    <a href="#/category/6"><i class="fa fa-caret-right"></i> Kinh tế</a>
                                </li>
                                <li>
                                    <a href="#/category/7"><i class="fa fa-caret-right"></i> Khoa học vật lý</a>
                                </li>
                                <li>
                                    <a href="#/category/8"><i class="fa fa-caret-right"></i> Khoa học xã hội</a>
                                </li>
                                <li>
                                    <a href="#/category/9"><i class="fa fa-caret-right"></i> Khoa học tâm linh</a>
                                </li>
                                <li>
                                    <a href="#/category/13"><i class="fa fa-caret-right"></i> Khoa hoc kỹ thuật</a>
                                </li>
                                <li>
                                    <a href="#/category/15"><i class="fa fa-caret-right"></i> Nghệ thuật</a>
                                </li>
                                <li>
                                    <a href="#/category/20"><i class="fa fa-caret-right"></i> Tâm lý giáo dục</a>
                                </li>
                                <li>
                                    <a href="#/author/3"><i class="fa fa-caret-right"></i> Matthieu Ricard</a>
                                </li>
                                <li>
                                    <a href="#/author/25"><i class="fa fa-caret-right"></i> Barbara Bazaldua</a>
                                </li>
                                <li>
                                    <a href="#/author/34"><i class="fa fa-caret-right"></i> Tường Thụy</a>
                                </li>
                                <li>
                                    <a href="#/author/40"><i class="fa fa-caret-right"></i> Vương Chí Cương</a>
                                </li>
                                <li>
                                    <a href="#/author/48"><i class="fa fa-caret-right"></i> Dalai Lama</a>
                                </li>
                                <li>
                                    <a href="#/author/49"><i class="fa fa-caret-right"></i> Thanh Tâm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-4">
                        <div class="footer-module">
                            <h4 class="footer-module-title">Hỗ trợ khách hàng</h4>
                            <div class="footer-module-body clearfix">
                                <ul class="list-unstyled link-list" style="width:100%">
                                    <li><a href="#">Các câu hỏi thường gặp</a></li>
                                    <li><a href="contact.html">Email</a></li>
                                    <li><a href="#">Hotline: 1900-123</a></li>
                                    <li><a href="#">Hướng dẫn đặt hàng</a></li>
                                    <li><a href="#">Phương thức vận chuyển</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-module">
                            <h4 class="footer-module-title">Danh mục</h4>
                            <div class="footer-module-body clearfix">
                                <ul class="list-unstyled link-list">
                                    <li><a href="category.html">Ngoại Văn</a></li>
                                    <li><a href="category.html">Kinh Tế</a></li>
                                    <li><a href="category.html">Văn Học Trong Nước</a></li>
                                    <li><a href="category.html">Văn Học Nước Ngoài</a></li>
                                    <li><a href="category.html">Thiếu Nhi</a></li>
                                </ul>

                                <ul class="list-unstyled link-list">
                                    <li><a href="category.html">Tin Học - Ngoại Ngữ</a></li>
                                    <li><a href="category.html">Chuyên Ngành</a></li>
                                    <li><a href="category.html">Giáo Khoa - Giáo Trình</a></li>
                                    <li><a href="category.html">Thường Thức - Đời Sống</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 clearfix ">
                        <div class="footer-module">
                            <h4 class="footer-module-title">Tài khoản của bạn</h4>
                            <div class="footer-module-body clearfix">
                                <ul class="list-unstyled link-list" style="width:100%">
                                    <li><a href="order.html">Xem trạng thái đơn hàng</a></li>
                                    <li><a href="orders.html">Lịch sử đơn hàng</a></li>
                                    <li><a href="recovery-password.html">Quên mật khẩu</a></li>
                                    <li><a href="#">Điều khoản sử dụng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-module">
                            <h4 class="footer-module-title">Theo Dõi</h4>
                            <div class="footer-module-body clearfix">
                                <ul class="clearfix list-unstyled footer-social-contact">
                                    <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
                                    <li><a href="#" class="fa fa-pinterest" title="Pinterest"></a></li>
                                    <li><a href="#" class="fa fa-linkedin" title="Linkedin"></a></li>
                                    <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus" title="Google Plus"></a></li>
                                    <li><a href="#" class="fa fa-rss" title="Rss"></a></li>
                                    <li><a href="#" class="fa fa-instagram" title="Instagram"></a></li>

                                </ul>


                                <div class="inner-top-xs">
                                    <p>Đăng ký nhận bản tin</p>
                                    <form class="searchform" method="get">
                                        <input class="s" type="text" placeholder="Địa chỉ Email" name="s" value="">
                                        <input class="searchsubmit" type="submit" value="Đăng ký">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>-->
                </div>
                <!-- ============================================== FOOTER-TOP : END ============================================== -->            <hr>
                <!-- ============================================== FOOTER-BOTTOM ============================================== -->
                <div class="row">
                    <div class="col-md-7">
                        <div class="footer-address">
                            <p>© 2016 - Final Assignment - WFE</p>
                            <p><strong>Liên hệ:</strong> tntanh5@gmail.com</p>
                        </div>
                    </div>
                    <!--<div class="col-md-5 visible-md-block visible-lg-block">
                        <div class="footer-certificate-box">
                            <a class="footer-trust" href="#" title="Chứng nhận sàn giao dịch TMĐT">
                                <span>Được chứng nhận</span>
                                <img class="img-responsive" src="https://vcdn.tikicdn.com/assets/img/seal-ecommerce.png" alt="Chứng nhận sàn giao dịch TMĐT">
                            </a>
                            <a class="footer-payment" href="#" title="Thanh toán an toàn trên Tiki.vn">
                                <span>Cách thức thanh toán</span>
                                <img class="img-responsive" src="https://vcdn.tikicdn.com/assets/media/safe.jpg" alt="Thanh toán an toàn trên Tiki.vn">
                            </a>
                        </div>
                    </div>-->
                </div>
                <!-- ============================================== FOOTER-BOTTOM : END ============================================== -->
            </div>
        </div>
    </footer>

    <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-3x"></i></a>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->



    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>




    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!--<script src="js/angular-resource.min.js"></script>-->
    <script src="bower_components/ngcart/dist/ngCart.js"></script>
    <!--<script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>-->
    <script src="bower_components/owlcarousel/dist/owl.carousel.min.js"></script>

    
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script src="js/script.js"></script>
    
    <script src="Controllers/BookCategoryController.js"></script>
    <script src="Controllers/BookAuthorController.js"></script>
    <script src="Controllers/BookPubComController.js"></script>
    <script src="Controllers/DetailBookController.js"></script>

    <script type="text/ng-template" id="template/ngCart/summary.html">
        <!--<div class="row">

            <div class="col-md-6">-->
        <span class="cart-block-heading">{{ ngCart.totalCost() | currency:"":0 }} đ</span>
        <div class="hidden-xs">{{ngCart.getTotalItems()}} <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'sản phẩm', 'other':'sản phẩm'}"></ng-pluralize></div>



        <!--{{ ngCart.getTotalItems() }}
        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'sản phẩm', 'other':'sản phẩm'}"></ng-pluralize>
        <br />{{ ngCart.totalCost() | currency }}-->
        <!--</div>
        </div>-->
    </script>
    <script type="text/ng-template" id="template/ngCart/addtocart.html">
        <div>
            <!--<div ng-hide="attrs.id">
            <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
        </div>-->
            <div ng-show="attrs.id">
                <div>
                    <span ng-show="quantityMax">
                        <select name="quantity" id="quantity" ng-model="q"
                                ng-options=" v for v in qtyOpt"></select>
                    </span>
                    <a style="background-color:#2F9599; margin-top:5px;" class="btn btn-sm btn-primary"
                       ng-click="ngCart.addItem(id, name, price, q, data)"
                       ng-transclude></a>
                    <!--<a title="Add to Cart" ng-click="ngCart.addItem(id, name, price, q, data)"
                   ng-transclude">Thêm vào giỏ hàng</a>-->
                    <mark ng-show="inCart()">

                        <!--This item is in your cart.--> <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Bỏ</a>
                    </mark>
                </div>

            </div>
        </div>
    </script>
    <script type="text/ng-template" id="template/ngCart/cart.html">
        <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
            Giỏ hàng không có sản phẩm nào
        </div>

        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" ng-show="ngCart.getTotalItems() > 0">

            <table class="table table-striped ngCart cart">

                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Số lượng</th>
                        <th class="hidden-xs">Đơn giá</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="ngCart.getTax()">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                        <td>{{ ngCart.getTax() | currency:"":0 }}</td>
                    </tr>
                    <tr ng-show="ngCart.getShipping()">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Shipping:</td>
                        <td>{{ ngCart.getShipping() | currency:"":0 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="hidden-xs">Thành tiền:</td>
                        <td>{{ ngCart.totalCost() | currency:"":0 }}</td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in ngCart.getCart().items track by $index">
                        <td><span style="cursor:pointer;" ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

                        <td>
                            <a href="#/detailbook/{{item.getData().IdCategory}}/{{item.getId()}}">
                                <img style="width:70px;height:80px" ng-src="Resources/bookcovers/{{item.getData().BookCover}}" />
                                <span class="hidden-xs">{{ item.getName() }}</span>
                            </a>
                        </td>
                        <td>
                            <span style="cursor:pointer;" class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                                  ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                            {{ item.getQuantity() | number }}&nbsp;&nbsp;
                            <span style="cursor:pointer;" class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>

                        </td>
                        <td class="hidden-xs">{{ item.getPrice() | currency:"":0}}</td>
                        <td>{{ item.getTotal() | currency:"":0 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </script>

    <script>
        //Check to see if the window is top if not then display button
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollToTop').fadeIn();
            } else {
                $('.scrollToTop').fadeOut();
            }
        });

        //Click event to scroll to top
        $('.scrollToTop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 800);
            return false;
        });
    </script>

    <script type="text/ng-template" id="customTemplate.html">
        <a href="#/detailbook/{{match.model.IdCategory}}/{{match.model.IdBook}}">
            <img ng-src="Resources/bookcovers/{{match.model.BookCover}}" width="45">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
</body>
</html>