﻿
$template-background:#eaefe1;

@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}

.header .main-header {
    background: $template-background;
    padding: 36px 0 24px;
    height: 126px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: $template-background;
    -webkit-box-shadow: inset 0 0 5px rgba(46,49,42,0.08);
    -moz-box-shadow: inset 0 0 5px rgba(46,49,42,0.08);
    box-shadow: inset 0 0 5px rgba(46,49,42,0.08);

    @include media("(max-width: 767px)"){
        height: 300px !important;
    }
    /*@media (max-width: 767px) {
        height: 300px !important;
    }*/

    .top-search-holder .search-form .form-group .form-control {
        background: #fafbf8;
        border: 1px solid rgba(0,0,0,0);
        font-size: 14px;
        height: 51px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.17);
        -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.17);
        box-shadow: 0 2px 3px rgba(0,0,0,0.17);
        border-bottom: 3px solid #edefeb;
        color: #b1b5a9;
    }

    .top-cart-row {
        @include media("(max-width: 767px)"){
            margin-top: 20px;
            text-align: center;
        }
        /*@media (max-width: 767px) {
            margin-top: 20px;
            text-align: center;
        }*/

        .shopping-cart-block {
            @include media("(max-width: 767px)"){
                display: inline-block;
            }
            /*@media (max-width: 767px) {
                display: inline-block;
            }*/
        }

        .menu-toggle-right {
            display: block;
            position: relative;

            .cart-right-block {
                margin-left: 25px;

                @include media("(max-width: 1199px) and (min-width: 992px)"){
                    margin-left: 10px;
                }
                /*@media (max-width: 1199px) and (min-width: 992px) {
                    margin-left: 10px;
                }*/
            }

            .cart-left-block {
                color: #b1b5a9;
                margin-top: 2px;

                span {
                    display: block;
                }
            }

            .cart-block-heading {
                color: #fd6804;
                font-size: 20px;
                font-family: 'Cambria';

                @include media("(max-width: 1199px) and (min-width: 992px)"){
                    font-size: 16px;
                }
                /*@media (max-width: 1199px) and (min-width: 992px) {
                    font-size: 16px;
                }*/
            }
        }
    }
}

a {
    outline: none !important;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;


    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

[uib-typeahead-popup].dropdown-menu {
    right: 0px;

    span {
        white-space: pre-wrap;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
