/*START HEADER*/
/*.header .main-header {
    background: #eaefe1;
    padding: 36px 0 24px;
    height: 126px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eaefe1;
    -webkit-box-shadow: inset 0 0 5px rgba(46,49,42,0.08);
    -moz-box-shadow: inset 0 0 5px rgba(46,49,42,0.08);
    box-shadow: inset 0 0 5px rgba(46,49,42,0.08);
}

@media (max-width: 767px) {
    .header .main-header {
        height: 300px !important;
    }
}


.header .main-header .logo-holder a {
    display: block;
}

a {
    outline: none !important;
}

a {
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

    a:hover, a:active, a:focus {
        text-decoration: none;
    }

.logo-holder{
         margin-top: 18px; 
     margin-right: 10px; 
}

.logo-holder a .logo {

    line-height: 18px;
    font-family: 'OleoScriptBold';

    margin-top: 12px;
}

.header .main-header .logo-holder a .logo-subtitle {
    line-height: 31px;
    color: #aeb99c;
}

.header .main-header .top-search-holder .search-form .form-group .form-control {
    background: #fafbf8;
    border: 1px solid rgba(0,0,0,0);
    font-size: 14px;
    height: 51px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.17);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.17);
    box-shadow: 0 2px 3px rgba(0,0,0,0.17);
    border-bottom: 3px solid #edefeb;
    color: #b1b5a9;
}

[uib-typeahead-popup].dropdown-menu {
    
    right: 0px;
}
[uib-typeahead-popup].dropdown-menu span{
    white-space: pre-wrap;
}

.header .main-header .top-search-holder .search-form button {
    background: none repeat scroll 0 0 rgba(0,0,0,0);
    border: 0 none;
    float: left;
    font-size: 18px;
    margin: 1px 0 0;
    padding: 10px 10px 5px 0;
    color: #fd6804;
    position: absolute;
    right: 22px;
    top: 0;
}


@media (max-width: 767px) {
    .header .main-header .top-cart-row {
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 767px) {


.header .main-header .top-cart-row .shopping-cart-block {
    display: inline-block;
}

}

.header .main-header .top-cart-row .menu-toggle-right {
    display: block;
    position: relative;
}

    .header .main-header .top-cart-row .menu-toggle-right .cart-right-block {
        margin-left: 25px;
    }

@media (max-width: 1199px) and (min-width: 992px) {
    .header .main-header .top-cart-row .menu-toggle-right .cart-right-block {
        margin-left: 10px;
    }
}

.header .main-header .top-cart-row .menu-toggle-right .cart-left-block {
    color: #b1b5a9;
    margin-top: 2px;
}

    .header .main-header .top-cart-row .menu-toggle-right .cart-left-block span {
        display: block;
    }

.header .main-header .top-cart-row .menu-toggle-right .cart-block-heading {
    color: #fd6804;
    font-size: 20px;
    font-family: 'Cambria';
}


@media (max-width: 1199px) and (min-width: 992px) {
    .header .main-header .top-cart-row .menu-toggle-right .cart-block-heading {
        font-size: 16px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}*/



/*START MENU NAVBAR*/
.header .header-nav {
    border: 0 solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.21);
    box-shadow: 0 2px 3px rgba(0,0,0,0.21);
    border-bottom: 3px solid #eaebe7;
    background: #fafaf8;
}

    .header .header-nav .navbar {
        background: rgba(0,0,0,0);
        margin: 0;
        border: none;
    }

    .header .header-nav .navbar .navbar-header .navbar-toggle:focus{
        background-color: black;
    }
    .header .header-nav .navbar .navbar-header .navbar-toggle:hover{
        background-color: black;
    }

.navbar .nav, .navbar .collapse, .navbar .dropup, .navbar .dropdown {
    position: static;
}

.header .header-nav .navbar .navbar-nav > li > a {
    font-size: 18px;
    line-height: 48px;
    color: #333;
    font-family: 'Cambria';
    font-weight: 500;
    padding: 8px 12px;
    margin-left: 35px;
    position: relative;
}

    .header .header-nav .navbar .navbar-nav > li > a:hover, .header .header-nav .navbar .navbar-nav > li > a:focus {
        color: #599806;
    }

@media (max-width: 767px) {
    .header .header-nav .nav > li > a:hover, .header .header-nav .nav > li > a:focus {
        background: #599907 !important;
        color: #fff !important;
    }
}

/*@media (max-width: 767px) {
    .navbar .navbar-toggle {
        border-color: #ddd;
    }
}*/

@media (max-width: 767px) {
    .header .header-nav {
        background: #000 !important;
        border-bottom: 3px solid #000;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}


@media (max-width: 767px) {
    .header .header-nav .nav > li > a {
        color: #e8e8e8 !important;
    }
}
@media (max-width: 767px) {
    .header .header-nav .nav > li.open > a {
        background: #599907 !important;
        color: #fff !important;
    }
}



.navbar .dropdown-menu {
    left: auto;
    top: 110%;
    border-radius: 0;
}

.navbar .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.navbar .dropdown-menu {
    left: auto;
    top: 110%;
    border-radius: 0;
}

    .navbar .dropdown-menu li {
        line-height: 26px;
        padding: 2px 0;
        transition: all .3s ease 0s;
    }

    .navbar .dropdown-menu .yamm-content {
        padding: 20px 25px;
    }

        .navbar .dropdown-menu .yamm-content .title {
            margin-top: 0;
            font-weight: 600;
        }
        /*.col-md-2{
    width: 175px;
}*/
        .navbar .dropdown-menu .yamm-content .links {
        }

            .navbar .dropdown-menu .yamm-content .links li a {
                padding: 4px 0;
                display: block;
                color: #333;
            }
@media (max-width: 767px) {
    .header .header-nav .nav .dropdown-menu .yamm-content .links li a {
        color: #e8e8e8;
    }
}

    .navbar .dropdown-menu li a {
        color: #333;
        display: block;
        line-height: 26px;
        padding: 8px 16px;
        text-transform: none;
    }

    .navbar .dropdown-menu .yamm-content .links li a:hover, .navbar .dropdown-menu .yamm-content .links li a:focus {
        color: #599806;
    }
/*END MENU NAVBAR*/
/*END HEADER*/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}


/*START BEST SELLER*/
.module .module-heading {
    text-align: center;
}

    .module .module-heading .module-title {
        text-align: center;
        font-size: 24px;
        line-height: 48px;
        font-family: 'Cambria';
        color: #333;
        margin-top: 0;
    }

.text-center {
    text-align: -moz-center;
    text-align: -webkit-center;
/*
    margin-top: 18px;
    margin-right: 20px
*/
}

.module .module-body .full-width .col-md-3 {
    width: 20%;
}

@media (max-width: 767px) {
    .module .module-body .full-width .col-md-3 {
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .module .module-body .full-width .col-md-3 {
        width: 33%;
    }
}

.book {
    margin: 30px 0 50px;
    width: 95%;
}

    .book .book-details .book-description {
        height: 60px;
    }

@media(max-width: 767px) {
    .book .book-details .book-description {
        height: 30px;
    }
}

.book .book-details .book-description .book-title {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Cambria';
    font-weight: 500;
    
    margin-top: auto;
    margin-bottom: auto;
}

    .book .book-details .book-description .book-title a {
        color: #2e312a;
    }

.book .book-details .book-description .book-subtitle {
    font-size: 13px;
    color: #c8cac2;
    line-height: 24px;
}

/*.pull-left{
    float: right!important;
}*/
.module-body .row .clearfix {
    margin-top: 30px;
}
/*END BEST SELLER*/




/*
    Detail Book
*/
.inner-top-xs {
    padding-top: 40px;
}
.inner-top-xs.row {
    margin-right: 5px;
    margin-left: 5px;
}
.single-book-block .single-book .book-cover {
    margin-top: 20px;
    width: 300px;
    height: 300px;
}
@media (max-width: 767px){
    .single-book-block .single-book .book-cover {
    margin-top: 20px;
    width: 240px;
    height: 300px;
}
    .single-book-block .single-book .book-cover img {
    
    width: 240px;
    height: 300px;
}
}

.single-book-block .single-book .single-book-price {
    font-size: 24px;
    line-height: 48px;
    font-family: 'Cambria';
    color: #fd6804;
}

.description{
    margin-top: 20px;
}



/*
    START FOOTER
*/
footer.footer {
    background: #eaefe1;
}
.footer-link h4 {
    font-weight: 700;
    margin: 0 0 7px;
    font-size: 12px;
    color: #888;
}
.footer-link ul{
    font-size: 12px;
}
.footer-link ul li {
    float: left;
}
.footer-link ul li a{
    color: #888;
    display: block;
    padding: 3px 10px 3px 0;
}

.footer-address {
    color: #888;
    font-size: 12px;
    line-height: 1.8;
}
/*
    END FOOTER
*/


/*
    SCROLL
*/
.scrollToTop {
    /*width: 100px;
    height: 80px;*/
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
}