﻿<div>

    <div class="container-fluid">
        <div id="owl-demo" class="owl-carousel owl-theme">

            <div class="item">
                <img src="Resources/Courasel_13.jpg" />
            </div>
            <div class="item">
                <img src="Resources/Courasel_22.jpg" />
            </div>
            <div class="item">
                <img src="Resources/Courasel_32.jpg" />
            </div>
            <div class="item">
                <img src="Resources/Courasel_52.jpg" />
            </div>
        </div>
    </div>
    <!-- ============================================== BEST SELLER ============================================== -->
    <div class="container">
        <section class="best-seller wow fadeInUp">
            <div id="best-seller" class="module">

                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Sách Bán Chạy</span></h2>
                </div><!-- /.module-heading -->

                <div class="module-body">
                    <div class="dropdown btn-group pull-left sort-box" >
                        <button style="height:30px; font-size:14px" 
                                class="btn btn-default btn-sm dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-expanded="true">Sắp xếp<span class="caret"></span>
                        </button>
                        <ul class="sort-list dropdown-menu" role="menu">
                            <li data-order="name,asc" ng-click="sort('NameBook')"><a href="javascript:void(0);">Tên: A đến Z</a></li>
                            <li data-order="name,desc" ng-click="sort('-NameBook')"><a href="javascript:void(0);">Tên: Z đến A</a></li>
                            <li data-order="price,asc" ng-click="sort('Price')"><a href="javascript:void(0);">Giá: Thấp đến Cao</a></li>
                            <li data-order="price,desc" ng-click="sort('-Price')"><a href="javascript:void(0);">Giá: Cao đến Thấp</a></li>


                        </ul>
                        <!--<select class="form-control" ng-model="pageSize">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>-->
                    </div>
                    <div class="dropdown btn-group pull-left sort-box">

                        <select class="form-control" ng-model="pageSize" style="height:30px; margin-left:10px;" ng-options="option.value as option.name for option in options">                           
                        </select>
                    </div>

                </div>
                <div class="module-body">

                    <div class="row books full-width">

                        <div class="clearfix text-center">
                            <div class="col-md-3 col-sm-6" dir-paginate="product in products|orderBy:sortKey|itemsPerPage:pageSize">
                                <div class="book">
                                    <a href="#/detailbook/{{product.IdCategory}}/{{product.IdBook}}">
                                        <div class="book-cover">
                                            <img width="140" height="150" alt="" ng-src="Resources/bookcovers/{{product.BookCover}}">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="#/detailbook/{{product.IdBook}}">{{product.NameBook}} </a></h3>
                                            <!--<a class="book-subtitle" href="#"> Gregory Berns </a>-->
                                        </div>
                                        <div class="text-center">
                                            <div>
                                                <span>{{product.Price | currency:"":0}} </span>
                                                <!--<div>
                                                    <a title="Add to Cart" href="book-detail.html">Thêm vào giỏ hàng</a>
                                                </div>-->
                                                <div>
                                                    <ngcart-addtocart id="{{product.IdBook}}" name="{{product.NameBook}}" price="{{product.Price}}" quantity="1" quantity-max="5" data="product">Thêm vào giỏ hàng</ngcart-addtocart>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div>
                                            <ngcart-addtocart id="{{product.IdBook}}" name="{{product.NameBook}}" price="{{product.Price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                                        </div>-->
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="clearfix text-center">

                            <dir-pagination-controls max-size="15"
                                                     direction-links="true"
                                                     boundary-links="true">
                            </dir-pagination-controls>
                        </div>

                        <!--<a href="#" class="text-right"><h6>Xem tất cả</h6></a>-->

                    </div>
                </div>

            </div>
        </section>

    </div>
    <!-- ============================================== BEST SELLER : END ============================================== -->
</div>
<script>

    $(document).ready(function () {
        //console.log("dhdhdhadadk");
        //$(".dropdown-toggle").click(function () {
        //console.log("aldjakdakdhakdhak0");
        //});
        $(".sort-list li a").click(function () {
            $(this).parents(".btn-group").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            //$(this).parents(".btn-group").find('.btn').text($(this).text());
        });
    });


</script>


<script>
    $(document).ready(function () {

        $("#owl-demo").owlCarousel({

            //navigation : true, // Show next and prev buttons
            //slideSpeed : 300,
            //paginationSpeed : 400,
            //singleItem: true,

            items: 1,
            margin: 30,
            loop: true,
            //nav: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            autoplaySpeed: 1000

        });

    });
</script>