﻿<div class="module inner-top-sm wow fadeInUp" id="books-by-subject">
    <div class="module-heading home-page-module-heading">
        <h2 class="module-title home-page-module-title"><span>Sách theo thể loại</span></h2>
        <!--<p class="see-all-link"><a href="#">xem thêm</a> &rarr;</p>-->
    </div><!-- /.module-heading -->
    <div class="module-body" style="height: 30px; margin-left: 50px;">
        <div class="dropdown btn-group pull-left sort-box">
            <button style="height:30px; font-size:14px"
                    class="btn btn-default btn-sm dropdown-toggle form-control" type="button" data-toggle="dropdown" aria-expanded="true">
                Sắp xếp<span class="caret"></span>
            </button>
            <ul class="sort-list dropdown-menu" role="menu">
                <li data-order="name,asc" ng-click="sort('NameBook')"><a href="javascript:void(0);">Tên: A đến Z</a></li>
                <li data-order="name,desc" ng-click="sort('-NameBook')"><a href="javascript:void(0);">Tên: Z đến A</a></li>
                <li data-order="price,asc" ng-click="sort('Price')"><a href="javascript:void(0);">Giá: Thấp đến Cao</a></li>
                <li data-order="price,desc" ng-click="sort('-Price')"><a href="javascript:void(0);">Giá: Cao đến Thấp</a></li>


            </ul>
            <!--<select class="form-control" ng-model="pageSize">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>-->
        </div>
        <div class="dropdown btn-group pull-left sort-box">

            <select class="form-control" ng-model="pageSize" style="height:30px; margin-left:10px;" ng-options="option.value as option.name for option in options">
            </select>
        </div>

    </div>
    <div class="module-body clearfix">
        <div class="books full-width text-center">
            <!-- .by subject -->
            <div class="col-md-3 col-sm-6 books-by-subject" dir-paginate="categorybook in categorybooks|orderBy:sortKey|itemsPerPage:pageSize">
                <div class="book">
                    <!--<a href="#/detailbook/{{categorybook.IdCategory}}/{{categorybook.IdBook}}">-->
                        <div class="book-cover">
                            <a href="#/detailbook/{{categorybook.IdCategory}}/{{categorybook.IdBook}}">
                                <img ng-src="Resources/bookcovers/{{categorybook.BookCover}}" width="140" height="150" />
                            </a>
                        </div>
                        <div class="book-details clearfix">
                            <div class="book-description">
                                <h3 class="book-title"><a href="#/detailbook/{{categorybook.IdCategory}}/{{categorybook.IdBook}}">{{categorybook.NameBook}}</a></h3>
                                <!--<p class="item-number">310 sản phẩm</p>-->
                            </div>
                            <div class="text-center">
                                <div>
                                    <span>{{categorybook.Price | currency:"":0}} </span>
                                    <!--<div>
                <a title="Add to Cart" href="book-detail.html">Thêm vào giỏ hàng</a>
            </div>-->
                                    <div>
                                        <ngcart-addtocart id="{{categorybook.IdBook}}" name="{{categorybook.NameBook}}" price="{{categorybook.Price}}" quantity="1" quantity-max="5" data="categorybook">Thêm vào giỏ hàng</ngcart-addtocart>
                                    </div>
                                </div>
                            </div>

                        </div>
                    <!--</a>-->
                </div>
            </div><!-- /.col -->
            <!-- /.by subject -->
        </div><!-- /.row -->
        <div class="clearfix text-center">

            <dir-pagination-controls max-size="15"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div><!-- /.module-body -->
</div><!-- /.module -->

<script>

    $(document).ready(function () {
        //console.log("dhdhdhadadk");
        //$(".dropdown-toggle").click(function () {
        //console.log("aldjakdakdhakdhak0");
        //});
        $(".sort-list li a").click(function () {
            $(this).parents(".btn-group").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            //$(this).parents(".btn-group").find('.btn').text($(this).text());
        });
    });


</script>