﻿<div><ngcart-cart></ngcart-cart></div>
<script type="text/ng-template" id="template/ngCart/cart.html">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
        Giỏ hàng không có sản phẩm nào
    </div>

    <div class="" ng-show="ngCart.getTotalItems() > 0">

        <table class="table table-striped ngCart cart">

            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Số lượng</th>
                    <th class="hidden-xs">Đơn giá</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tfoot>
                <tr ng-show="ngCart.getTax()">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                    <td>{{ ngCart.getTax() | currency:"":0 }}</td>
                </tr>
                <tr ng-show="ngCart.getShipping()">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Shipping:</td>
                    <td>{{ ngCart.getShipping() | currency:"":0 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="hidden-xs">Thành tiền:</td>
                    <td>{{ ngCart.totalCost() | currency:"":0 }}</td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="item in ngCart.getCart().items track by $index">
                    <td><span style="cursor:pointer;" ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

                    <td>
                    <a href="#/detailbook/{{item.getData().IdCategory}}/{{item.getId()}}"><img style="width:70px;height:80px" ng-src="Resources/bookcovers/{{item.getData().BookCover}}" />
                        <span class="hidden-xs">{{ item.getName() }}</span></a>
                    </td>
                    <td>
                        <span style="cursor:pointer;" class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                              ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                        {{ item.getQuantity() | number }}&nbsp;&nbsp;
                        <span style="cursor:pointer;" class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>
                        
                    </td>
                    <td class="hidden-xs">{{ item.getPrice() | currency:"":0}}</td>
                    <td>{{ item.getTotal() | currency:"":0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</script>