﻿<div style="font-family:Cambria;">
    <div class="content wow fadeInUp">
        <div class="container">
            <div class="row inner-top-xs single-book-block">
                <!-- ============================================== BOOK DETAIL ============================================== -->
                <div class="single-book primary-block">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="book-cover">
                                <img  alt="" ng-src="Resources/bookcovers/{{detailbook.BookCover}}">
                            </div><!-- /.book-cover -->


                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="featured-book-heading">
                                <h2>{{detailbook.NameBook}}</h2>
                                <!--<p class="single-book-author">
                                    by
                                    <a href="#">Mèo Mốc</a>
                                </p>-->
                            </div>

                            <div class="">
                                <p class="single-book-price">{{detailbook.Price|currency:"":0}} đ</p>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!--<div class="add-cart-button btn-group">-->
                                        <ngcart-addtocart id="{{detailbook.IdBook}}" name="{{detailbook.NameBook}}" price="{{detailbook.Price}}" quantity="1" quantity-max="5" data="detailbook">Thêm vào giỏ hàng</ngcart-addtocart>
                                        <!--<button class="btn btn-success btn-uppercase" type="button"><i class="fa fa-cart-plus fa-lg"></i> Thêm vào giỏ hàng</button>-->
                                        <!--<button class="btn btn-success btn-uppercase" type="button">Thêm vào giỏ hàng</button>-->
                                    <!--</div>-->
                                </div>

                            </div>
                            <div class="description">
                                
                                    <!-- ============================================== BOOK DESCRIPTION ============================================== -->
                                    <!--<div class="description">-->
                                        <p>{{detailbook.Description}}</p>
                                    <!--</div>-->
                                
                            </div>

                        </div>
                        <!-- ============================================== BOOK DESRIPTION : END ============================================== -->
                    </div>

                </div>


                <!-- ============================================== BOOK DETAIL : END ============================================== -->







            </div><!-- /.row -->

            <div class="module wow fadeInUp">
                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Sản Phẩm Liên Quan</span></h2>
                    <!--<p class="see-all-link"><a href="#">Xem tất cả</a> &rarr;</p>-->
                </div>
                <div class="module-body">
                    <div class="row text-center">
                        <!-- .related product -->
                        <div class="col-md-3 col-sm-4" dir-paginate="categorybook in categorybooks|itemsPerPage:8">
                            <div class="book">
                                <a href="book-detail.html">
                                    <div class="book-cover">
                                        <img width="140" height="150" alt="" ng-src="Resources/bookcovers/{{categorybook.BookCover}}">
                                    </div>
                                </a>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="#/detailbook/{{categorybook.IdCategory}}/{{categorybook.IdBook}}">{{categorybook.NameBook}}</a></h3>
                                        <!--<p class="book-subtitle">by <a href="book-detail.html">Cormac McCarthy</a></p>-->
                                    </div>
                                    <div class="actions">
                                        <span class="book-price price">{{categorybook.Price | currency:"":0}}</span>

                                        <!--<div class="cart-action">
                                    <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Thêm vào giỏ hàng</a>

                                </div>-->
                                        <div>
                                            <ngcart-addtocart id="{{categorybook.IdBook}}" name="{{categorybook.NameBook}}" price="{{categorybook.Price}}" quantity="1" quantity-max="5" data="categorybook">Thêm vào giỏ hàng</ngcart-addtocart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.related product -->
                    </div>
                    <div class="clearfix text-center">

                        <dir-pagination-controls max-size="15"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
    </div><!-- /.content -->
</div>